{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Create a post{% endblock %}

{% block body %}
    <h1>Add a post</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-success mt-5">Add</button>
    {{ form_end(form) }}
{% endblock %}